<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497088547007-c9das9k5ggi23opcmmfqbpn06s1qte93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497088547007-c9das9k5ggi23opcmmfqbpn06s1qte93</string>
	<key>API_KEY</key>
	<string>AIzaSyAtO28S24Azcl7FXxvuvCCtT2_9slvsYMs</string>
	<key>GCM_SENDER_ID</key>
	<string>497088547007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handees</string>
	<key>PROJECT_ID</key>
	<string>handees</string>
	<key>STORAGE_BUCKET</key>
	<string>handees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497088547007:ios:985ce8b809f2fdf8769e0a</string>
</dict>
</plist>